body {
	
	padding-left: 230;
	color:#333333;
	background-color:#FFFFCC;
	font-family:Verdana, Arial, Helvetica, sans-seriff;
	font-size:15px;
	}
	
#name {margin: 15 0 10 0;}

#deledit {
	margin-left:400;
	margin-top:-145;
	}	

#head {
	margin-left: 0;
	width: 755px;
	text-align: center;
	margin-bottom: 21px;
	padding-top: 1px;
	background-color:#FFCC00;
	}
	
	
#content {
	margin-top:90;
	width:710px;
	float: left;
	padding: 0 14px 48px 36px;
	border:solid 1px;
	border-color:#FFCC98;
	background-color:#FFFFFF;
	}
	
h3 {
	width:710px;
	font-size:14px;
	margin:0 -36px 20px -36px; 
	padding:0px 25px;
	background-color:#FFCC98;
	color:#990033;
	} 
	
a {
	color:#FF0066;
	} 

.button {
 	background-color:#FFCC99;
 	padding: 2px 16px;
	margin-left:8px;
 	font-family:Verdana, Arial, Helvetica, sans-serif;
 	color:#990033 ;
	font-size : 13px ;
	}
	
#toukou {margin-left:-65;}

input[type=text] {
	font-family:Arial, Helvetica, sans-serif;
	font-size : 13px;
	}
	


	/* CSS Document */

